extends ../layout

block vars
  - var title = 'Edit Article'

block content
  .container
    form(method="POST")
      .pull-right
        a.btn.btn-default(href="/admin/articles/")
          i.glyphicon.glyphicon-arrow-left
          span  Go back
        if article.isPublished
          a.btn.btn-default(href="/blog/articles/#{article._id}") View
        button.btn.btn-success(type="submit") 
          i.glyphicon.glyphicon-floppy-save
          span  Save

      h2 Edit Article

      .form-group
        label(for="title") Title
        input.form-control(type="text", name="title", id="title", value=article.title)
      .checkbox
        label(for="isPublished") 
          input(type="checkbox", name="isPublished", id="isPublished", checked=article.isPublished)
          | &nbsp;Publish article?
      .form-group
        label(for="title") Secondary title
        input.form-control(type="text", name="secondaryTitle", id="secondaryTitle", value=article.secondaryTitle)    
      .form-group
        label(for="description") Article content
        textarea.form-control(name="content", rows="12" id="description") #{article.content}
      .form-group
      .pull-right
        button.btn.btn-success(type="submit") Save
        a.btn.btn-default(href="/admin/articles/") Close