extends ../layout

block vars
  - var title = 'Articles List'

block content
  .container
    a.pull-right(href="/admin/articles/add", class='btn btn-success btn-lg')
      i.glyphicon.glyphicon-plus
      span  Add article

    h2 Articles

    for article in articles
      .panel.panel-info
        .panel-body.clearfix
          .pull-right
            if article.isPublished
              a(href="/blog/articles/#{article._id}", class='btn btn-link btn-sm', target="_blank")
                i.glyphicon.glyphicon-eye-open
                span  View
            a(href="/admin/articles/#{article._id}/edit", class='btn btn-link btn-sm')
              i.glyphicon.glyphicon-pencil
              span  Edit
            a(href="/admin/articles/#{article._id}/delete", class='btn btn-link btn-sm')
              i.glyphicon.glyphicon-trash
              span  Delete
          h3(style="margin-top: 3px;")
            strong  #{article.title}
          h5
            strong #{article.secondaryTitle} 
            if article.isPublished
              .label.label-success Published
            else
              .label.label-warning Draft
          //- div(style="max-height: 100px; overflow: hidden;") !{article.content}
        .panel-footer.clearfix
          .pull-left(style="margin-right: 25px;")
            i.glyphicon.glyphicon-calendar
            strong  Created:
            span  #{moment(article.date).format(shortDateFormat)}
          .pull-left
            i.glyphicon.glyphicon-time
            strong  Modified:
            span  #{moment(article.modified).format(shortDateFormat)}

    a.pull-right(href="/admin/articles/add", class='btn btn-success btn-lg')
      i.glyphicon.glyphicon-plus
      span  Add article

    if !articles.length
      p No articles found.
