extends ../layout

block vars
  - var title = article.title

block content
  .container
    h3 #{article.title}
    small

    .btn-group
      a(href="/admin/articles/#{article._id}/edit", class='btn btn-primary btn-sm')
        i.glyphicon.glyphicon-edit
        span  Edit article
      a(href="/admin/articles/#{article._id}/delete", class='btn btn-danger btn-sm')
        i.glyphicon.glyphicon-trash
        span  Delete article
      a(href="/admin/articles", class='btn btn-default btn-sm')
        i.glyphicon.glyphicon-arrow-left
        span  Go back

    .media
      .media-body
        h4 #{article.subtitle}
        h5 #{article.date}
        p !{article.content}