if user
  nav.navbar.navbar-default
    .container
      .navbar-header.page-scroll
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#main-navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/admin') Dashboard
      #main-navbar-collapse.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href="/" target="_blank") 
              i.glyphicon.glyphicon-new-window
              span  Visit site
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
              | Options
              span.caret
            ul.dropdown-menu.dropdown-menu-right
              li.dropdown-header Logged in as #{user.email}
              li.divider
              li
                a(href="/admin/logout") 
                  i.glyphicon.glyphicon-log-out 
                  span  Log out
