block vars

doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title} - Admin MP
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='stylesheet', type='text/css', href='/static/lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/static/css/admin/main.css')
  body
    include _main-nav

    include _flash

    block content

    script(src="/static/lib/jquery-2.1.4.min.js")
    script(src="/static/lib/bootstrap/js/bootstrap.min.js")
    script(src="https://cdn.tinymce.com/4/tinymce.min.js")
    script(src='/static/js/admin/main.js')
