extends layout

block vars
  - var title = 'Login'

block content
  .container
    .row
      .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2
        .text-center
          h1 Admin MP
          p.lead Log in to continue
        .panel.panel-success.auth-form
          .panel-heading Log in to your account
          .panel-body
            form(method="post")
              .form-group
                label.control-label Email:
                input.form-control.input-lg(type="text" name="email" required)

              .form-group
                label.control-label Password:
                input.form-control.input-lg(type="password" name="password" required)

              button.btn.btn-primary.btn-block.btn-lg(type="submit") Log in
