extends ../layout

block vars
  - var title = 'Archive'
  - var pageTitle = 'Blog Archive'
  - var pageSecondaryTitle = 'Everything I\'ve posted over the years'

block content
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        each article, i in articles
          if i !== 0
            hr
          .post-preview
            a(href="/blog/articles/#{article._id}")
              h3.post-title #{article.title}
              h4.post-subtitle #{article.secondaryTitle}