extends ../layout

block vars
  - var title = article.title
  - var isArticle = true
  - var articleTitle = article.title
  - var articleSecondaryTitle = article.secondaryTitle
  - var articleAuthor = article.author
  - var articleDate = moment(article.date).format(shortDateFormat)

block content
  article
    .container
      .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
          div !{article.content}