extends ../layout

block vars
  - var title = 'Blog'
  - var pageTitle = 'My Blog'
  - var pageSecondaryTitle = 'te Blog'

block content
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        for article in articles
          .post-preview
            a(href='/blog/articles/#{article._id}')
              h2.post-title #{article.title}
              h3.post-subtitle #{article.secondaryTitle}
            div !{article.content}
            p.post-meta
              | Posted by 
              a(href='/about-me') #{article.author}
              |  on #{moment(article.date).format(shortDateFormat)}
          hr
        ul.pager
          li.next
            a(href='/archive') Older Posts →
