.container
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      if messages.errors
        .alert.alert-danger.fade.in
          button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') &times;
          for error in messages.errors
            div= error.msg
      if messages.info
        .alert.alert-info.fade.in
          button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') &times;
          for info in messages.info
            div= info.msg
      if messages.success
        .alert.alert-success.fade.in
          button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') &times;
          for success in messages.success
            div= success.msg
