header.intro-header(style="background-image: url('/static/img/asd.jpg')")
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        if isArticle 
          .post-heading
            h1 #{articleTitle}
            h2.subheading #{articleSecondaryTitle}
            span.meta
              | Posted by 
              a(href='/about-me') #{articleAuthor}
              |  on #{articleDate}
        else
          .site-heading
            h1 #{pageTitle}
            hr.small
            span.subheading #{pageSecondaryTitle}
