extends layout

block vars
  - var title = 'About Me'
  - var pageTitle = 'About Me'
  - var pageSecondaryTitle = 'Who I am, where I come from and where I\'m going'

block content
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        h2 Some words
        p Some more words.