block vars

doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title #{title} - Mihai Petre
		link(rel='shortcut icon', href='/favicon.ico')
		link(rel='stylesheet', type='text/css', href='/static/lib/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='/static/lib/blog-theme/css/clean-blog.css')
		link(rel='stylesheet', type='text/css', href='/static/lib/prism.css')
		link(rel='stylesheet', type='text/css', href='/static/css/public/main.css')

		// Custom Fonts
		link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')

	body
		include _main-nav

		include _header

		include _flash

		block content

		include _footer

		script(src="/static/lib/jquery-2.1.4.min.js")
		script(src="/static/lib/bootstrap/js/bootstrap.min.js")
		script(src="/static/lib/blog-theme/js/clean-blog.js")
		script(src="/static/lib/prism.js")
		//- script(src='/js/public/main.js')
